/* MenuManagementPage.css */
* {
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
}

input[type="text"],
input[type="number"],
textarea,
button {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #5cb85c; /* Green */
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c; /* Darker green */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  padding: 10px;
  margin: 10px 0;
}

.dish-image {
  max-width: 100px;
  margin-right: 10px;
}

.dish-info {
  display: flex;
  align-items: center;
}

.dish-name {
  font-size: 1.2em;
  margin: 0;
}

.dish-description {
  color: #666;
}

.dish-price {
  font-weight: bold;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
}

button.edit {
  background-color: #f0ad4e; /* Orange */
  color: white;
}

button.delete {
  background-color: #d9534f; /* Red */
  color: white;
}

button.edit:hover {
  background-color: #ec971f; /* Darker orange */
}

button.delete:hover {
  background-color: #c9302c; /* Darker red */
}
