.App {
  min-height: 100vh; /* to make sure that it covers at least the full viewport height */
  /*background-image: url('../assets/restaurant_background.jpg'); /* Path of the image */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixed background image */
  color: white; /* White text for better contrast */
}


/* Navbar wrapper */
.App-nav-wrapper {
  position: relative;
}

/* Trigger area */
.App-nav-trigger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Navbar initial state */
.App-nav {
  position: absolute;
  top: -40px; /* Initial higher position */
  left: 0;
  right: 0;
  background: rgba(255, 165, 0, 0.7);
  transition: top 0.6s, background-color 0.6s;
  padding: 1rem;
  text-align: center;
  z-index: 100;
}

/* Navbar visible state */
.App-nav.show {
  top: 0; /* Bring into view */
}



.App-nav a {
  color: white;           /* White text for the links */
  margin: 0 1rem;         /* Add some space around each link */
  text-decoration: none;  /* Remove the underline from links */
  font-size: 1.2rem;      /* Make the text a bit larger */
  font-weight: bold;      /* Make the text bold */
}

.App-nav a:hover {
  color: #ffdf00;         /* Change color when hovering over the link */
  text-decoration: underline; /* Underline on hover */
}




.App-header {
 text-align: center; /* Center text horizontally */
  padding: 20px 0; /* for adding padding at the top and bottom */
}

.App-header h1,
.App-header p,
.App-buttons {
  margin: 0; /* Remove default margins */
  padding: 10px 0; /* Add some vertical padding */
}
.App-buttons {
  display: flex; /* Use flexbox for button alignment */
  justify-content: center; /* Center flex items horizontally */
  gap: 10px; /* Add space between buttons */
}

.App-button-customer,
.App-button-staff {
  padding: 10px 20px; /* Add some padding inside the buttons */
  border: none; /* Remove borders */
  background-color: #ffdf00; /* Use the theme color for the button background */
  color: #563d7c; /* Color for the text inside the buttons */
  font-weight: bold; /* Make button text bold */
  cursor: pointer; /* Change mouse cursor to indicate clickable */
  border-radius: 5px; /* round the button corners */
}

.App-button-customer:hover,
.App-button-staff:hover {
  background-color: #fff; /* Light background color on hover */
  color: #563d7c; /* Dark text on hover */
}

.App-footer {
  text-align: center; /* Center text horizontally */
  padding: 20px 0; /* for adding padding at the top and bottom */
}


