/* Customer Login Page */
.customer-login-page {
  background-color: #000;
}

/* App */
.App {
  font-family: sans-serif;
}

/* Form Group */
.form-group {
  display: flex;
  flex-direction: column;
}

/* Form Group Label */
.form-group label {
  margin-bottom: 8px;
  margin-left: 15px;
  text-align: left;
  color: #fff;
}

/* Form Group Input */
.form-group input {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #fff;
}

/* Login Form */
.login-form {
  position: absolute;
  top: 30%;
  left: 40%;
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #aaa;
}

/* Login Button */
.login-button {
  margin-top: 5px;
  padding: 14px 40px;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Text Right Alignment */
.text-right {
  text-align: right;
}
