.menu-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.slider-container {
  width: 100%;
  max-width: 600px; /* Adjust the width of the slider, you can find the right value, I believe in you - zul*/
  margin-bottom: 20px;
}

.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dishes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* creates a responsive grid */
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* width, feel free to tinker */
}

/* Add styles for individual dish cards if necessary */
.dish-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.dish-image {
  width: 100%;
  height: auto; /* Adjust if you want a fixed height */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.dish-info {
  padding: 10px;
}

.filter-checkboxes {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 60px; 
  margin-right: 20px; 
  color: #000; 
}

.cart-item {
  color: #000;
}

/*.container {
  margin-top: 40px; 
  text-align: center; 
} */

.body {

}
.h2{}

*{}
/* Add any additional styles below as you see fit :) */
